body{
    margin: 0;
    height: 100%;
}
.header-about-us h1{
    text-align: center;
    font-family: "Edu NSW ACT Cursive", cursive;
}
.ParAndImage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:80px;
    margin-top: 30px;
    margin-right: 450px;
    margin: 50px auto;
}
.image{
    position: relative;
}
.paragraph{
    color: #191970;
    position: relative;
    max-width:500px;
    height:300px;
    padding:40px;
    font-size: 25px;
    border-radius: 25px;
}
#coloredText{
    text-shadow: 20px 7px 5px rgba(25,25,112, 0.7);
}
.image img{
    height:400px;
    width:600px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
ul li{
    display:inline;
    font-family: system-ui;
    margin-left: 20px;
}
.head_bar{
    display: inline;
}
nav{
    background-image: url(./Assets/Midnight_blue.jpg);
    padding:20px; 
    display: flex;
    gap:40px;
    object-fit:scale-down;
    border-bottom-right-radius: 10px;
}
a{ 
    color:aliceblue;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

footer{
    display: flex;
    justify-content: center;
    gap:30px;
    margin-top: 40px;
}

h1{
    font-family: system-ui;
    margin-left: 10px;
}